/* === header start === */
.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    margin: 50px 100px;
    padding: 50px;
    border-radius: 10px;
}
.photograph-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photograph-info h1 {
    font-size: 64px;
    color: #D3573C;
    margin: 0;
}

.photographer-location {
    font-size: 24px;
    color: #901C1C;
    margin: 10px 0 0;
}

.photographer-tagline {
    font-size: 18px;
    color: #525252;
    margin-top: 5px;
}

.photograph-info h1,
.photographer-location,
.photographer-tagline {
    font-weight: 400;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
/* === header end === */

/* === modal start === */
#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.4); /* Fond gris semi-transparent comme sur la maquette */
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: 20px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header h2 {
    /* font-size: 64px; */
    font-size: 42px;
    font-weight: 400;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    /* font-size: 36px; */
    font-size: 28px;
    font-weight: 400;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    height: 68px;
}

form textarea {
    height: 150px;
    resize: none;
}

form input,
form textarea {
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
    border: none;
    font-size: 18px;
    width: 100%;
}
/* === modal end === */

/* === media start === */
.media_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 50px 100px;
}

.media_section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.media_section img,
.media_section video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
}

.media_section h2 {
    font-size: 20px;
    margin: 10px;
    color: #901C1C;
    text-align: center;
}

.media_section .media-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media_section .media-footer h2 {
    font-size: 20px;
    color: #901C1C;
    margin: 0;
}

.media_section .likes {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #901C1C;
}

.media_section .likes i {
    margin-left: 5px;
    cursor: pointer;
}
/* === modal end === */